@charset "UTF-8";


/*font-family: 'Do Hyeon', sans-serif;
font-family: 'Black Han Sans', sans-serif;
font-family: 'Jua', sans-serif;*/

body {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Nanum Gothic', sans-serif; */
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
}

li,
ul {
    list-style: none;
}

/*배경 및 기본속성*/

.name {
    color: #f2f3ff;
    font-family: 'Do Hyeon', sans-serif;
    width: 100%;
}

.hero {
    width: 100%;
    display: flex;
}

.vertical_line {
    position: absolute;
    border-left: 4px solid #303473;
    height: 100%;
    left: 15%;
    border-radius: 3px;
}

.vertical_line p:nth-child(n) {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 2.3em;
    position: absolute;
    left: -160px;
}

.vertical_line p:nth-child(2n) {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 2.3em;
    position: absolute;
    left: -15px;
    width: 200px;
}

.dotted_line {
    position: relative;
    width: 20%;
    margin: 0 auto;
}

#intro_btn a {
    color: #30336b;
    font-size: 20px;
    background-color: #DEE5E1;
    font-family: 'NanumSquareRound', sans-serif;
    font-weight: bold;
    line-height: 40px;
    border-radius: 15px;
}

.navbar {
    width: 10%;
    height: 50px;
    background-color: #4a4e4f;
}

/*자기소개 항목*/

.intro_wrap {
    width: 80%;
    height: 400px;
    border: solid 10px #DEE5E1;
    margin: 0 auto;
}

.intro {
    transition: all .5s ease-in-out;
    position: relative;
    top: 25%;
}

.ability {
    border-radius: 15px;
    background-color: #DEE5E1;
    transition: all .3s ease-in-out;
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
    position: relative;
    top: 50px;
    margin-bottom: 100px;
}

.ability p {
    color: #303473;
}

.ability ul {
    margin-left: 0px;
    width: 350px;
    vertical-align: middle;
    margin-top: 40px;
    color: #30336baf;
    margin-bottom: 90px;
}

.ability_close_btn {
    position: relative;
    top: -300px;
    color: #aaa;
    margin: 20px;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    background-color: #DEE5E1;
}

.icon {
    width: 130px;
}

.int_wrap {
    position: relative;

}

.int_cover {
    display: inline-block;
    color: #f2f3ff;
}

.int_cover li {
    width: 250px;
    margin: 0 auto;
}

.int_cover li p {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Do Hyeon', sans-serif;
    color: #303473;
}

.int_cover li a {
    margin-bottom: 50px;
    width: 50px;
}

.intro button {
    height: 35px;
}

.me {
    width: 200px;
    position: relative;
    top: 70px;
}

.introduce {
    position: relative;
    top: 100px;
}

.introduce a {}

/*그래프 설정*/

.bar_wrap {
    position: relative;
    top: 100px;
    margin: 0 auto;
    margin: 20px;
}

.bar_wrap ul {
    display: inline-block;
    margin-bottom: 120px;
}

.bar_wrap ul li {
    display: inline-block;
}

.bar_item {
    margin: 0 auto;
    width: 250px;
    height: 30px;
    background-color: #adaec4;
    border-radius: 15px;
}

.bar_content {
    height: 30px;
    background-color: #303473;
    color: white;
    vertical-align: middle;
    border-radius: 15px;
}

.bar_info {
    margin: 0 auto;
    font-family: 'NanumSquareRound', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    margin: 10px;
}

/*슬라이드 설정*/

.new_slide {
    width: 100%;
    height: 100%;
    background-color: #DEE5E1;
    /* background-image: linear-gradient( to bottom, #bad2ed, #b742d145); */
}

.new_slide_2 {
    width: 100%;
    height: 100%;
    background-color: #BFBFBF;
}

.new_slide_3 {
    width: 100%;
    height: 100%;
    background-color: #303473;
}

.footer {
    width: 100%;
    height: 200px;
    background-color: white;
}

.works_title {
    color: #30336b;
    font-family: 'Do Hyeon', sans-serif;
    position: relative;
    top: 100px;
    font-size: 50px;
}

/*Works 아이템 설정*/

.works_title_item {
    color: #30336baf;
    font-size: 30px;
    font-weight: bold;
    font-family: 'NanumSquareRound', sans-serif;
    position: relative;
    top: 100px;
}

.works_item_wrap {
    position: relative;
    top: 130px;
    margin-bottom: 100px;
    z-index: 0;
}

.works_item_wrap ul {
    display: inline-block;
}

.works_item_wrap ul li:nth-child(2n) {
    margin-bottom: 90px;
}

.works_item_wrap ul li a {
    margin: 20px;
}

.works_item_wrap ul li hr {
    width: 300px;
    border: 2px solid #868bec;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 20px;
}

.works_item {
    width: 450px;
    height: 300px;
    border-radius: 10px;
    background-color: #ecf0f1;
    display: inline-block;
    margin: 10px;
    overflow: hidden;
}

.works_cover {
    position: absolute;
    width: 450px;
    height: 300px;
    border-radius: 10px;
    background-color: #333;
    opacity: 0;
    z-index: 2;
    transition: opacity, .3s;
}

.works_item:hover .works_cover {
    opacity: 0.3;
    transition: opacity, .3s;
}

.works_item:hover .works_img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.works_item_text {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
}

.works_img {
    height: 100%;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    vertical-align: middle;
}

.works_int {
    font-family: 'NanumSquareRound', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #4a4e4f;
    line-height: 50px;
    width: 600px;
}

.works_btn {
    border: 0;
    line-height: 5px;
    width: 170px;
    border-radius: 20px;
    background-color: #303473;
    color: white;
    transition: all .3s;
}

.works_btn a {
    font-family: 'NanumSquareRound', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    display: block;
}

.works_btn:hover {
    box-shadow: 1px 1px 3px gray;
    transition: all .3s;
}

/*모달창*/

.modal_x {
    border: 0;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #f83f3f;
    position: relative;
    top: 15px;
    left: 270px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    height: 80%;
    width: 50%;
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    /* Could be more or less, depending on screen size */
}

.modal_info {
    width: 80%;
    text-align: left;
    margin-top: 20px;
}

/* The Close Button */
.close {
    position: relative;
    top: -10px;
    color: #aaa;
    margin: 10px;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.modal-content p {
    position: absolute;
    font-size: 30px;
    font-family: 'Do Hyeon', sans-serif;
}

.modal_img {
    width: 100%;
    border-radius: 10px;
    display: none;
}

.showing {
    display: block;
    transition: all .3s ease-in-out;
}

/*커리어*/

.career {
    position: relative;
    top: 100px;
    margin: 70px;
}

.career a {
    font-family: 'NanumSquareRound', sans-serif;
    font-size: 19px;
    line-height: 40px;
    font-weight: bold;
}